/* src/app/pages/estadisticas-y-datos/estadisticas-y-datos.page.scss */

.chart-container {
  position: relative;
  height: 250px; // Altura fija para el gráfico
  width: 100%; // Ancho completo
  margin-top: 20px;
}
